<h1>Upload Photos</h1>

<h4>Select Album: </h4>
<!-- dropdown of album choices -->

<!-- select file to upload -->


<u><h4> Add an image </h4></u>
  <%= form_for [@imageable, Photo.new],  :html => { :multipart => true } do |form| %>
    <%= form.file_field :image %>
    <div class = "actions"><br>
      <%= form.submit "Add Photo", class: "btn btn-ar btn-primary" %>
    </div>
  <% end %>


<button>Submit</button>

